<!DOCTYPE html>
<html lang="en">
<head>
	{{ghost_head}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{asset "fonts/stylesheet.css"}}">
	<link rel="stylesheet" href="{{asset "css/styles.css"}}">
	<title>{{@site.title}}</title>
</head>
<body>
	<div class="container">
		<header class="site-header">
			<div class="header-flex">
				{{#if @site.logo}}
				<a class="gh-head-logo{{#unless @site.logo}} no-image{{/unless}}" href="{{@site.url}}">
					<img src="{{@site.logo}}" alt="{{@site.title}}">
				</a>
				{{else}}
				<h1 class="site-title">
					<a href="{{@site.url}}">
						{{@site.title}}
					</a>
				</h1>
				{{/if}}
			</a>
		</a>
	</h1>

	<nav class="site-nav">
		{{navigation}}
	</nav>
</div>
</header>

<main class="content">
	{{#is "home"}}
	<section class="intro">
		{{#unless @custom.welcome_text}}
		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
		{{else}}
		<p>{{@custom.welcome_text}}</p>
		{{/unless}}
	</section>
	{{/is}}

	{{{body}}}
</main>

<section class="profile-links">
	<ul>
		{{#foreach @site.secondary_navigation}}
		<li><a href="{{url}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
</section>

<footer class="site-footer">
	{{#unless @custom.footer_text}}
	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> &amp; <a href="https://refueled.net" target="_blank">Refueled</a>
	{{else}}
	{{@custom.footer_text}}
	{{/unless}}
</footer>
</div>
{{ghost_foot}}
</body>
</html>